body{
  margin: auto;
  padding:0;
  font-family: 'Courier New', Courier, monospace;
}

.one{
  background-color: rgb(167, 239, 239);
  color: antiquewhite;
  width: 100%;
  margin: auto;
  height: 100%;
}
.one img{
  width:50%;
  margin-left: auto;
  height: 100%;
}
.one h1{
  margin-left:800px;
  font: size 200px;
  color: black;
  
}
.one h2{
  margin-left:800px;
  font: size 190px;
  color: black;
  
}
.one h3{
  margin-left:800px;
  font: size 180px;
  color: black;
  
}
.one p{
  margin-left:800px;
  font-style: italic;
  font: size 100px;
  color: black;
  
}
.two{
  background-color: rgb(90, 184, 139);
  color: antiquewhite;
  width: 100%;
  margin: auto;
  height: 100%;
}
.two img{
  width:100%;
  margin-right: auto;
  height: 30%;
}
.two h1{
  font: size 200px;
  color: black;
  
}
.two p{
  font-style: italic;
  font: size 100px;
  color: rgb(227, 209, 209);
  }
  .three h1{
    color: black;
    margin-left: 40%;
  }
  .three{
    background-color: rgb(194, 150, 38);
    color: black;
    width: 100%;
    margin: auto;
    height: 750px;
}

.three h1{
    font-size: 52px;
    text-align: center;
}

.three img{
    width: 350px;
    height: 350px;
    display: inline-block;
    width: 350px;
    height: 425px;
    padding: 0 25px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.content{
    text-align: center;
}

.content h2{
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 10px;
    padding: 0 90px;
    display: inline-block;
}

.content p{
    font-size: 18px;
    font-weight: 100;
    padding: 0 150px;
    display: inline-block;
}
/************** Task 4 **********/

.four{
  background-color:darkseagreen;
  color: black;
  width: 100%;
  margin: auto;
  height: 500px;
 
}
.four img{
  width: 55%;      /* change the size of photo*/
  height: 500px;
  float: left;
}
.four h1{
  font-size: 60px;
margin-left: 60%;
font-weight: bold;
 
}
.four p{
  font-size: 25px;
  margin-left: 60%;

  
}

/******* section 5*/
.five{
  background-color: black;
  color: white;
  width: 100%;
  margin: auto;
  height: 615px;
}
.five h1{
  font-size: 70px;
  margin-left: 5%;
}
.five img{
  width: 45%;
  margin-left: 100px;
  height: 615px;
  float: right;
}
.five p{
  font-size: 30px;
  font-weight: 100px;
  margin-left: 5%;
}
.five #green{
  background-color: aquamarine;
  color: black;
  padding: 20px;
  width: fit-content;
  font-weight: bold;
  border-radius: 40px;
  margin-left: 5%;
}